/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/montserrat-v15-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v15-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/montserrat-v15-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v15-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-900 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: local(''),
    url('../fonts/montserrat-v15-latin_cyrillic-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v15-latin_cyrillic-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/*h1 {*/
/*    font-family: 'Montserrat';*/
/*    font-size: 30px;*/
/*    line-height: 35px;*/

/*}*/


h1.text_title {
    margin-top: 10px;
    font-family: 'Montserrat';
    font-size: 2vw;
    font-weight: 600;
    /*line-height: 40px;*/
    margin: 0px 0px 0px 0px;

}


.navbar {
    background: linear-gradient(180deg, #FDB66F 0%, rgba(255, 242, 229, 0) 100%);
}

.button_nav_div {
    padding-left: 5px;
    padding-right: 5px;
}

.padding_container {
    padding-left: 150px;
    padding-right: 150px;
}

.colinner {

    background: linear-gradient(180deg, rgba(255, 122, 0, 0.57) 0%, rgba(255, 184, 0, 0.140719) 66.46%, rgba(255, 184, 0, 0) 100%);
    padding: 10px;
    /*margin-top: 10px;*/
    /*grid-gutter-width: 30px;*/
    /*height: 100%;*/
    height: 500px;
    border-radius: 20px;
    border: 1px solid #1b1e21;
    box-shadow: 0 2px #999;
    overflow-y: auto;


}

/* SCROLLBAR */
/* Let get this party started */
::-webkit-scrollbar {
    width: 10px;
    height: 10px
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #FFF2E5;
    border: 4px solid transparent;
    background-clip: content-box; /* THIS IS IMPORTANT */

}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #FFF2E5;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
}

/*.outcol {*/
/*    !*background-color: #fbf5ef;*!*/
/*    !*height: 100px;*!*/
/*    background-color: #fbf5ef;*/
/*    height: 100%;*/
/*    padding-left: 100px;*/
/*    padding-right: 100px;*/
/*    !*height: 500px;*!*/


/*}*/

.col-sm-4 {
    background-color: #fbf5ef;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    height: 500px;

}


body {
    background-color: #fbf5ef;
    height: 100%;
}


.errorlist {
    color: red;
}

/*.box {*/
/*    display: flex;*/
/*    flex-flow: column;*/
/*    height: 100%;*/
/*}*/

.button1 {
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 30px;
    box-shadow: 0 2px #999;
}

/*При наведении*/
.button1:hover {
    /*transform: scale(1.2);*/
}

.button1:active {
    transform: scale(0.8);
}


.oval {
    border-radius: 50px;
    height: 50px;
    background-color: #FFF2E5;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    border: 1px solid black;
    box-shadow: 0 2px #999;


}


h1.small_card_title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

p.small_card_date {
    text-align: right;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;;
    font-size: 10px;
}

A {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
    bgcolor: black;
}
