{% load static %}
<nav class="navbar">
    <form class="form-inline">
        <div class="row padding_container ">
            <div class="button_nav_div">
                <a href="{% url 'home' %}"><img class="button1" src="{% static 'image/home_page.png' %}" width="45"
                                                height="45"
                                                href="123"></a>

            </div>
            <div class="button_nav_div">
                <a href="{% url 'add' %}"><img class="button1" src="{% static 'image/newtask.png' %}" width="45"
                                               height="45"
                                               href="123"></a>
            </div>
        </div>
    </form>
</nav>
