{% extends 'base.html' %}

{% block title %}
{{title}} :: {{ block.super }}
{% endblock %}


{% block content %}
<div class="row padding_container">

    <div class="col-sm-4 ">
        <div class="oval_title">
            <a href="{% url 'view' view_title='Task'%}"><h1 class="text-center text_title">Task</h1></a>
        </div>
        <div class="col colinner">
            {% for item in status_task %}
            <a href="{% url 'edit' view_title='Task' task_id=item.pk %}">
                <div class="row-2 oval">
                    <div class="ml-3 mr-3">
                        <h1 class="text-center small_card_title">{{item.title|linebreaks|truncatechars_html:15}}</h1>
                    </div>
                    <div class="ml-3 mr-3">
                        <p class="small_card_date">{{item.time_start}}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="col-sm-4 ">
        <div class="oval_title">

            <a href="{% url 'view' view_title='Progress'%}"><h1 class="text-center text_title">Progress</h1></a>
        </div>

        <div class="col colinner">
            {% for item in status_progress %}
            <a href="{% url 'edit' view_title='Progress' task_id=item.pk %}">
                <div class="row-2 oval">
                    <div class="ml-3 mr-3">
                        <h1 class="text-center small_card_title">{{item.title|linebreaks|truncatechars_html:15}}</h1>
                    </div>
                    <div class="ml-3 mr-3">
                        <p class="small_card_date" align="center">{{item.time_end}}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="col-sm-4 ">
        <div class="oval_title">
            <a href="{% url 'view' view_title='Complete'%}"><h1 class="text-center text_title">Complete</h1></a>
        </div>
        <div class="col colinner">
            {% for item in status_complete %}
            <a href="{% url 'edit' view_title='Complete' task_id=item.pk%}">
                <div class="row-2 oval">
                    <div class="ml-3 mr-3">
                        <h1 class="text-center small_card_title">{{item.title|linebreaks|truncatechars_html:15}}</h1>
                    </div>
                    <div class="ml-3 mr-3">
                        <p class="small_card_date">{{item.time_end}}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
